em{
    font-weight: bold;
    font-style: unset;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    margin-top: 20px;
}

#mic{
    background-color: #D8D8D8;
    border: 1px solid #ACAA9F;
    border-radius: 5px;
    width: 46px;
    height: 46px;
    font-size: 15px;
    margin-left: 10px;
}

#hits{
    margin-top: 20px;
}

.item{
    width: 700px;
}

.item img{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}