body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

mark {
  font-weight: bold;
  font-style: unset;
  background-color: rgba(216, 216, 216, 0.75);
  padding: 0.2;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #576cF6;
  box-shadow: 0px 3px 16px -1px rgba(181,181,181,1);
  position: fixed;
  width: 100%;
  z-index: 99;
  color: white;
}

nav h1{
  width: 60%;
  padding-left: 20px;
}

nav ul{
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px;
}

.left-part {
  margin-top: 79px;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 20px;
  background-color: #f1f1f1;
}

.facets h3{
  color: #576cF6;
}

.ais-RefinementList-showMore{
  background-color: unset;
  color: black;
  text-decoration: underline;
  color: #576cF6;
}

.ais-RefinementList-showMore:hover, .ais-RefinementList-showMore:focus{
  background-color: unset;
}

.right-part {
  margin-top: 79px;
  width: 80%;
  padding: 20px;
}

#hits {
  margin-top: 20px;
}

.ais-Hits-item {
  /* width: calc(33% - 1rem); */
  background-color: white;
  padding: 0;
  position: relative;
}

.item{
  padding: 1rem;
}

.ais-Hits-item .price {
  width: 100%;
  color: black;
  height: 40px;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.item img {
  width: 80%;
  height: 200px;
  object-fit: contain;
}

.item .add-to-cart{
  border-radius: 50px;
  background-color: #576cF6;
  color: white;
  text-align: center;
  width: 70%;
  padding: 5px;
  margin-top: -50px;
  box-shadow: 0px 0px 43px 0px rgba(173,173,173,1);
  cursor: pointer;
}

.item .item-content .brand{
  color: gray;
  font-size: 13px;
  margin-bottom: -7px;
}

.item .item-content .name{
  margin-bottom: 40px;
}

#pagination {
  margin-top: 20px;
}

.ais-Pagination-item--selected .ais-Pagination-link{
  background-color: #576cF6;
  border-color: #4B5684;
}

.ais-Pagination-link{
  color: #576cF6;
}
/* 
.algolia-search-input{
  width: 250px !important;
} */