body {
  padding: 0 20px;
}

mark {
  font-weight: bold;
  font-style: unset;
  background-color: rgba(216, 216, 216, 0.75);
  padding: 0.2;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  margin-top: 20px;
}
.content {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.left-part {
  width: 30%;
  display: flex;
  align-items: top;
  justify-content: left;
}

.right-part {
  width: 70%;
}

#hits {
  margin-top: 20px;
}

.ais-Hits-item {
  width: calc(33% - 1rem);
}

img {
  width: 80%;
  height: 200px;
  object-fit: contain;
}

.item-content .price {
  padding: 10px;
  background-color: #4195d5;
  color: white;
  border-radius: 5px;
  float: right;
}

#pagination {
  margin-top: 20px;
}
