mark {
  font-weight: bold;
  font-style: unset;
  background-color: rgba(216, 216, 216, 0.75);
  padding: 0.2;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  margin-top: 20px;
}

#hits {
  margin-top: 20px;
}

img {
  width: 80%;
  height: 200px;
  object-fit: contain;
}


#pagination{
  margin-top: 20px;
}